.link__btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--bg-elemets);
  color: var(--primary-color);
  box-shadow: rgb(17 21 23 / 25%) 0px 4px 12px 0px;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
