label {
    @media screen and (max-width: 500px) {
        font-size: 14px;
        svg {
            width: 14px;
            height: 14px;
        }
      }  
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    &:hover {
        background-color: var(--bg-color);
    }
    input {
        display: none;
    }
    span {
        font-weight: 600;
        padding-left: 10px;
    }
}